# ------------------------------------------------------------------------------
# Directorios de trabajo
# ------------------------------------------------------------------------------
dir:  
  base: ${base}/IndicesGenerador/IdentificarEventos/
  run: ${base}/IndicesGenerador/IdentificarEventos/run/
  indices.sequia:
    run: ${base}/IndicesGenerador/IndicesSequia/run/
  lib: ${base}/IndicesGenerador/lib/R/
  data: ${base}/IndicesGenerador/data/
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# Cantidad maxima de procesos paralelos
# ------------------------------------------------------------------------------
max.procesos: 8
# ------------------------------------------------------------------------------
