# ------------------------------------------------------------------------------
# Directorios de trabajo
# ------------------------------------------------------------------------------
dir:  
  base: ${base}/IndicesGenerador/IndicesSequia/
  run: ${base}/IndicesGenerador/IndicesSequia/run/
  estadisticas:
    run: ${base}/IndicesGenerador/EstadisticasMoviles/run/
  lib: ${base}/IndicesGenerador/lib/R/
  data: ${base}/IndicesGenerador/data/
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# Cantidad maxima de procesos paralelos
# ------------------------------------------------------------------------------
max.procesos: 8
# ------------------------------------------------------------------------------
