# ------------------------------------------------------------------------------
# Directorios de trabajo
# ------------------------------------------------------------------------------
dir:  
  base: ${base}/IndicesGenerador/IndicesSequia/
  data: ${base}/IndicesGenerador/data/
# ------------------------------------------------------------------------------
