# ------------------------------------------------------------------------------
# Directorios de trabajo
# ------------------------------------------------------------------------------
dir:  
  base: ${base}/IndicesGenerador/IndicesSequia/
  diagnosticos: ${base}/IndicesGenerador/IndicesSequia/diagnosticos/
  lib: ${base}/IndicesGenerador/lib/R/
  data: ${base}/IndicesGenerador/data/
# ------------------------------------------------------------------------------
